{{ define "main" }}


<main id="main">
  <section class="w-5/6 lg:w-2/4 mx-auto">
    <div class="text-2xl italic">
      {{.Description}}
    </div>
    <div class="prose prose-2xl mb-10">
      {{.Content}}
    </div>

    {{- $pages := union .Parent.RegularPages .Parent.Sections }}
    {{- $paginator := .Paginate $pages }}
    {{with .Site.RegularPages.Next . }}{{.RelPermalink}}{{end}}
    {{- if gt $paginator.TotalPages 1 }}

  		<footer class="page-footer">
  			<nav class="pagination">
  				{{- if $paginator.HasPrev }}
  					<a class="prev" href="{{ $paginator.Prev.URL | absURL }}">«
  						{{ i18n "prev_page" }}</a>
  				{{- end }}
  				{{- if $paginator.HasNext }}
  					<a class="next" href="{{ $paginator.Next.URL | absURL }}">{{ i18n "next_page" }}
  						»</a>
  				{{- end }}
  			</nav>
  		</footer>
  	{{- end }}

  </section>
  {{ if (eq .Params.view "front-page") }}
    {{- partial "front-page-on-horn-playing.html" . }}
  {{ else if (eq .Params.view "list-essays")}}
    {{- partial "list-essays.html" . }}
  {{ else if (eq .Params.view "strategy-overview")}}
    {{- partial "strategy-overview.html" . }}
  {{ else if (eq .Params.view "simple-list")}}
    {{- partial "simple-list.html" . }}
  {{ else if (eq .Params.view "translations")}}
    {{- partial "translations.html" . }}
  {{else}}
    {{- partial "library.html" . }}
  {{end}}
</main>
{{ end }}
