<section class="w-5/6 mx-auto">
  {{ $tags := (or (.Scratch.Get "show_tags") .Params.params.show_tags) }}
  {{ $date := (or (.Scratch.Get "show_date") .Params.params.show_date) }}
  <!-- {{$date}} -->
  {{ $scratch := newScratch }}
  {{ $scratch.Set "show_tags" $tags}}
  {{ $scratch.Set "show_date" $date}}
  <!-- {{$scratch.Get "show_date"}} -->
  <ul class="text-2xl leading-loose list-none">
    {{ range (union .Sections .RegularPages) }}
      {{ if (or .IsSection .IsPage) }} <!-- is this conditional needed -->
        <h1 class="mb-4 text-5xl bold" id="{{ .Title | urlize}}">{{.Title}}</h1>
        <div class="text-xs">{{.Content}}</div>
        <div class="grid gap-3 px-8 py-6 mb-6 bg-white border rounded 2xl:grid-cols-5 lg:grid-cols-4 md:grid-cols-3 sm:grid-cols-2">
        {{ range .Sections }}
          {{ partial "exercise-item.html" . }}
          <!-- <div class="inline mt-4">
            <a class="text-4xl leading-loose underline hover:text-indigo-700 decoration-1 underline-offset-4 decoration-indigo-400" href="{{ .RelPermalink }}" title="{{ .Title }}">{{ .LinkTitle | markdownify }}</a>{{ partial "is-draft.html" . }}
            <ul class="list-none indent-5">

              <li><a href="{{.RelPermalink}}" class="text-2xl leading-relaxed underline truncate decoration-1 underline-offset-4 decoration-wavy decoration-indigo-400">{{.LinkTitle}}</a>{{ partial "is-draft.html" . }}</li>
            </ul>
          </div> -->
        {{ end }}
        </div>

      {{ end }}
    {{ end }}
  </ul>
</section>
