<section class="w-4/5 mx-auto 2xl:w-3/5">
  {{ with .GetPage "introduction.md" }}
    <p class="p-3 text-center border shadow bg-neutral-50">
      <a href="{{ ref . "introduction.md" }}" class="text-2xl font-bold underline decoration-wavy decoration-1 underline-offset-4 decoration-indigo-400">{{.Title}}</a>
    </p>
  {{ end }}

  <div class="grid gap-5 lg:grid-cols-3 md:grid-cols-2">
    {{ range .Sections }}
      <div class="pattern-{{.Params.params.pattern}} inline mt-4 border rounded shadow-sm p-4 ">
        <a class="block px-3 mb-2 text-2xl leading-loose text-black underline bg-white border shadow hover:text-indigo-700 decoration-1 underline-offset-4 decoration-indigo-400" href="{{ .RelPermalink }}" title="{{ .Title }}">
        	{{ .LinkTitle | markdownify }}
        </a>
        {{ partial "is-draft.html" . }}
        <ul class="p-2 list-none bg-white border shadow-sm indent-5">
        {{range .Sections}}
          <li><a href="{{.RelPermalink}}" class="text-xl leading-normal underline truncate  decoration-1 underline-offset-4 {{ partial "readiness-status-class.html" (dict "context" . "status" .Params.status) }}">{{.LinkTitle}}</a>{{ partial "is-draft.html" . }}</li>
        {{end}}
        </ul>
      </div>
    {{ end }}
  </div>
</section>
