<section class="w-4/5 mx-auto">
  {{ with .GetPage "introduction.md" }}
    <p class="text-center bg-neutral-50 border shadow p-3">
      <a href="{{ ref . "introduction.md" }}" class="text-2xl font-bold underline decoration-wavy decoration-1 underline-offset-4 decoration-indigo-400">{{.Title}}</a>
    </p>
  {{ end }}

  <div class="grid gap-5 2xl:grid-cols-4 lg:grid-cols-3 md:grid-cols-2">
  {{ range .Sections }}
    <div class="inline mt-4">
      <a class="hover:text-indigo-700 text-4xl leading-loose underline decoration-1 underline-offset-4 decoration-indigo-400" href="{{ .RelPermalink }}" title="{{ .Title }}">{{ .LinkTitle | markdownify }}</a>{{ partial "is-draft.html" . }}
      <ul class="list-none indent-5">
      {{range (union .Sections .RegularPages)}}
        <li><a href="{{.RelPermalink}}" class=" text-2xl leading-relaxed underline decoration-1 underline-offset-4 decoration-wavy decoration-indigo-400 truncate">{{.LinkTitle}}</a>{{ partial "is-draft.html" . }}</li>
      {{end}}
      </ul>
    </div>
  {{ end }}
  </div>
</section>
